<ion-header>
  <ion-toolbar [color]="pokemon.types[0].type.name | lowercase">
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="pokemon.types[0].type.name | lowercase">

  <ion-card class="ion-text-center">
    <img [src]="url + pokemon.id.toString().padStart(3, '0') + '.png'">

    <ion-item lines="none" [color]="pokemon.types[0].type.name | lowercase">
      {{pokemon.id}} - {{pokemon.name | titlecase}}
    </ion-item>

    <ion-item lines="none">
      <ion-badge *ngFor="let tipo of pokemon.types" [color]="tipo.type.name | lowercase">
        {{tipo.type.name | titlecase}}
      </ion-badge>
    </ion-item>

  </ion-card>


</ion-content>
