<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar Pokemons"></ion-searchbar>

  <ion-list>

    <ion-item *ngFor="let pokemon of listaPokemonFiltrada" lines="full" class="ion-no-padding" routerLink="/bulbasaur">

      <ion-thumbnail slot="start">
        <img [src]="pokemon.foto">
      </ion-thumbnail>

      <ion-label>
        <div>
          <h3>{{ pokemon.nome }}</h3>
          <ion-badge *ngFor="let tipo of pokemon.tipos" [color]="tipo | lowercase">
            {{tipo}}
          </ion-badge>
        </div>
      </ion-label>

      <ion-chip [color]="pokemon.tipos[0] | lowercase">
        <ion-label>{{pokemon.numero}}</ion-label>
      </ion-chip>

    </ion-item>

  </ion-list>

</ion-content>
