<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Buscar Pokemons"></ion-searchbar>

  <ion-list>

    <ion-item lines="full" class="ion-no-padding" routerLink="/bulbasaur">

      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
      </ion-thumbnail>

      <ion-label>
        <div>
          <h3>Bulbasaur</h3>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-chip color="grass">
        <ion-label>001</ion-label>
      </ion-chip>

    </ion-item>

  </ion-list>

</ion-content>
